<div class="container-nav">

</div>
<div class="wrapper">
  <div class="header">
    <div class="container-fluid">
      <div class="demo-header-wrap" fxLayout='column' fxLayout.lt-md="column">
        <div fxFlex="100" fxFlex.gt-sm="40" class="left-panel">
          <div class="text-intro">
            <h1><br>MR Frontend Developer Technical Test<br><span class="theme">Clothing Retail Site Sample</span>
            </h1>
          </div>
          <div class="button">
            <a target="_blank" href="item" class="ped-btn left-btn">Item</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>