<div class="container-nav">

</div>
<div class="wrapper">
    <div class="header">
        <div class="container-fluid">
            <div class="demo-header-wrap" fxLayout='column' fxLayout.lt-md="column">
                <div fxFlex="100" fxFlex.gt-sm="40" class="left-panel">
                    <div class="text-intro">
                        <h1><br>MR Frontend Developer Technical Test<br><span
                                class="theme">Clothing Retail Site Sample</span>
                        </h1>
                    </div>
                    <div class="button">
                        <a target="_blank" routerLink="item" class="ped-btn left-btn">Item</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<mat-card class="item-card">
    <mat-card-header>
        <div mat-card-avatar class="item-header-image"></div>
        <mat-card-title>T-shirt</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/classic-tee.jpg" alt="Photo of a T-shirt" style="width: 50%; height: 50%">
    <mat-card-content>
        <a routerLink="item" list-group-item clearfix>
            <p>
                Great Cotton T-shirt for sale
            </p>
        </a>
    </mat-card-content>

</mat-card>

