<div class="container-nav">

</div>
<div class="wrapper">
  <div class="header">
    <div class="container-fluid">
      <div class="demo-header-wrap" fxLayout='column' fxLayout.lt-md="column">
        <div fxFlex="100" fxFlex.gt-sm="40" class="left-panel">
          <div class="text-intro">
            <h1><br>Welcome to the nameless store<br><span
                                class="theme">Clothing Retail Site Sample</span>
            </h1>
          </div>
          <div class="button">
            <a target="_blank" href="/#/item" class="ped-btn left-btn">Item</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <mat-card class="item-card align-items-start">
    <mat-card-header>
      <div mat-card-avatar class="item-header-image"></div>
      <mat-card-title>T-shirt</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/classic-tee.jpg" alt="ClassicTee" style="width: 50%; height: 50%">
    <mat-card-content>
      <a href="/#/item" ist-group-item clearfix>
        <p>
          Great Cotton T-shirt for sale
        </p>
      </a>
    </mat-card-content>
  </mat-card>
  <div class="sample align-items-end d-flex">
    <h6>Sample</h6>
    <img src="https://s3.invisionapp-cdn.com/storage.invisionapp.com/screens/files/221745407.png?x-amz-meta-iv=4&response-cache-control=max-age%3D2419200&x-amz-meta-ck=daee10707631a9a3504f6cf055e0eb9a&AWSAccessKeyId=AKIAWCDCF6QSLTS7LRWT&Expires=1625097600&Signature=UM8P5xNkk5yzD%2FYKviytaQdl%2BQ4%3D" alt="" style="width:45%; height: 45%;">
  </div>
</div>

<app-image-gallery></app-image-gallery>