.h2,
h3,
p,
div {
  color: #888888;
}
.container {
  border-color: #cccccc;
  border-radius: 30px;
  display: flexbox;
}
.product-header {
  background-color: #f6f6f7;
}
.item-photo {
  padding-top: none;
  padding-left: 20%;
  border: none;
  max-width: none;
  max-height: none;
}
.item-info {
  padding: 30px 40px;
  padding-right: 25%;
}
