.h2,
h3,
p {
  color: #888888;
}
// .container {
//   border-color: #cccccc;
//   border-radius: 30px;
//   width: 400px;
// }
.product-header {
  background-color: #f6f6f7;
}
.item-photo {
  position: absolute;
  left: 0px;
  padding-left: 50px;
  border: none;
  max-width: none;
  max-height: none;
}
.item-info {
  padding: 30px 40px;
  display: flex;
}
