.h2,
h3,
p {
  color: #888888;
}
.container {
  border-color: #cccccc;
  border-radius: 30px;
  width: 400px;
}
.product-header {
  background-color: #f6f6f7;
}
.item-photo {
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  width: 1600px;
  height: 1600px;
  border: none;
  max-width: none;
  max-height: none;
}
.item-info {
  padding: 30px 40px;
  float: right;
}
