<!-- <div class="container">
  <mat-card fxLayout="column">
    <div class="product-img">
      <img src="./assets/classic-tee.jpg" alt="">
    </div>
    <mat-card-header class="product-header">
      <h3>Classic Tee</h3>
    </mat-card-header>
    <hr>
    <div class="product-price">
      <h4>$75.00</h4>
    </div>
    <mat-card-content class="product-info">
      <span class="category">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</span>
    </mat-card-content>
    <hr>
    <mat-card-actions>
      <button mat-button>S</button>
      <button mat-button>M</button>
      <button mat-button>L</button>
      <button mat-button>ADD TO CARD</button>
    </mat-card-actions>
  </mat-card>
</div> -->
<p>Sample</p>
<img src="https://s3.invisionapp-cdn.com/storage.invisionapp.com/screens/files/221745407.png?x-amz-meta-iv=4&response-cache-control=max-age%3D2419200&x-amz-meta-ck=daee10707631a9a3504f6cf055e0eb9a&AWSAccessKeyId=AKIAWCDCF6QSLTS7LRWT&Expires=1625097600&Signature=UM8P5xNkk5yzD%2FYKviytaQdl%2BQ4%3D" alt="" style="width:45%; height: 45%;">

<div class="wrapper">
  <div class="item-photo">
    <img src="https://cdn11.bigcommerce.com/s-nw7gte6txe/images/stencil/2000w/products/481/3269/5001G_STAPLE_ORGANIC_TEE_WHITE__66663.1586238235.jpg?c=1" alt="item-photo">
  </div>
  <div class="item-info">
    <div class="item-title">

    </div>
    <div class="item-price">

    </div>
    <div class="item-description">

    </div>
    <div class="item-size">

    </div>
    <div class="item-add-to-card">

    </div>
  </div>
</div>