<div class="container justify-content-center flex-row d-flex h-full w-full">

  <div class="item-photo justify-content-between position-relative align-items-start">

    <img src="https://cdn11.bigcommerce.com/s-nw7gte6txe/images/stencil/2000w/products/481/3269/5001G_STAPLE_ORGANIC_TEE_WHITE__66663.1586238235.jpg?c=1" alt="item-photo" style="width:500px; ">
  </div>

  <div class="item-info justify-content-between position-relative text-end align-items-end">
    <div class="item-title text-end col">
      <ul>
        <h2>Classic T-shirt</h2>
      </ul>
    </div>
    <hr>
    <div class="item-price col">
      <ul>
        <h4>$75</h4>
      </ul>
    </div>
    <br>
    <div class="item-description pb-5">
      <ul>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
          nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
          dictum felis eu pede mollis pretium. Integer tincidunt.</p>
      </ul>
    </div>

    <div class="item-size">
      <ul>
        <p>Size</p>
      </ul>
      <mat-button-toggle-group [(ngModel)]="itemSize" aria-label="Item Size">
        <mat-button-toggle value="small">S</mat-button-toggle>
        <mat-button-toggle value="middle">M</mat-button-toggle>
        <mat-button-toggle value="large">L</mat-button-toggle>
      </mat-button-toggle-group>
      <p>Your chosen Size is {{itemSize}}</p>
    </div>

    <div class="item-add-to-card">
      <mat-button-toggle>Add to card</mat-button-toggle>
    </div>

  </div>

</div>
