<nav class="navbar navbar-fixed-top navbar-light bg-inverse bg-white border-bottom shadow-sm">
  <div class="container">
    <a class="navbar-brand">My Store</a>
    <ul class="nav navbar-nav d-flex flex-row" routerLinkActive="active">
      <li class="nav-item p-3"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item p-3"><a class="nav-link" routerLink="item">Item</a></li>
      <li class="nav-item p-3"><a class="nav-link" routerLink="checkout">Checkout</a></li>
      <li class="nav-item p-3"><a class="nav-link" routerLink="#">About</a></li>
      <li class="nav-item p-3"><a class="nav-link"
          href="https://github.com/lantisky/angular-ivy-qz5h9w-clothing-retail-site">Github</a></li>
    </ul>
  </div>
</nav>